<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Страница пользователя</title>
</head>
<body>
<h1>Добро пожаловать, пользователь!</h1>
<div sec:authorize="isAuthenticated()">
    <p>Логин: <span th:text="${currentUser.username}"></span></p>
    <p>Роли: <span th:each="role : ${currentUser.roles}" th:text="${role.name} + ' '"></span></p>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>
</body>
</html>